<div class="create-container">
    <h2>Create course</h2>
    <form [formGroup]="createForm" (ngSubmit)="onSubmit()">
        <div>
            <label for="title">Title:</label>
            <input type="text" id="title" formControlName="title">
        </div>

        <div *ngIf="createForm.get('title')?.touched">
            <div *ngIf="createForm.get('title')?.errors?.['required']" style="color: red;">Title is required</div>
            <div *ngIf="createForm.get('title')?.errors?.['minlength']" style="color: red;">Title must be at least 6 characters long</div>
        </div>

        <div>
            <label for="lecture">Lecture:</label>
            <input type="text" id="lecture" formControlName="lecture">
        </div>

        <div *ngIf="createForm.get('lecture')?.touched">
            <div *ngIf="createForm.get('lecture')?.errors?.['required']" style="color: red;">Lecture is required</div>
        </div>

        <div>
            <label for="description">Description:</label>
            <input id="description" formControlName="description">
        </div>

        <div *ngIf="createForm.get('description')?.touched">
            <div *ngIf="createForm.get('description')?.errors?.['required']" style="color: red;">Description is required</div>
            <div *ngIf="createForm.get('description')?.errors?.['minlength']" style="color: red;">Description must be at least 10 characters long</div>
        </div>

        <div>
            <label for="price">Price:</label>
            <input type="number" id="price" formControlName="price">
        </div>

        <div *ngIf="createForm.get('price')?.touched">
            <div *ngIf="createForm.get('price')?.errors?.['required']" style="color: red;">Price is required</div>
            <div *ngIf="createForm.get('price')?.errors?.['min']" style="color: red;">Price must be at positive number</div>
        </div>

        <div>
            <label for="image">Image URL:</label>
            <input type="url" id="image" formControlName="image">
        </div>

        <div *ngIf="createForm.get('image')?.touched">
            <div *ngIf="createForm.get('image')?.errors?.['required']" style="color: red;">Image is required</div>
            <div *ngIf="createForm.get('image')?.errors?.['pattern']" style="color: red;">Invalid URL</div>
        </div>

        <div>
            <label for="duration">Duration (h):</label>
            <input type="number" id="duration" formControlName="duration">
        </div>

        <div *ngIf="createForm.get('duration')?.touched">
            <div *ngIf="createForm.get('duration')?.errors?.['required']" style="color: red;">Duration is required</div>
            <div *ngIf="createForm.get('duration')?.errors?.['min']" style="color: red;">Duration must be at positive number</div>
        </div>

        <button type="submit" [class.disabled]="createForm.invalid" [disabled]="createForm.invalid">Create</button>

    </form>
</div>