<div *ngIf="!course">
    <img src="https://lh6.googleusercontent.com/Bu-pRqU_tWZV7O3rJ5nV1P6NjqFnnAs8kVLC5VGz_Kf7ws0nDUXoGTc7pP87tyUCfu8VyXi0YviIm7CxAISDr2lJSwWwXQxxz98qxVfMcKTJfLPqbcfhn-QEeOowjrlwX1LYDFJN" alt="">
</div>

<div class="edit-container" *ngIf="course">
    <h2>Edit course</h2>
    <form [formGroup]="editForm" (ngSubmit)="onSubmit()">
        <div>
            <label for="title">Title:</label>
            <input type="text" id="title" formControlName="title">
        </div>

        <div *ngIf="editForm.get('title')?.touched">
            <div *ngIf="editForm.get('title')?.errors?.['required']" style="color: red;">Title is required</div>
            <div *ngIf="editForm.get('title')?.errors?.['minlength']" style="color: red;">Title must be at least 6 characters long</div>
        </div>

        <div>
            <label for="lecture">Lecture:</label>
            <input type="text" id="lecture" formControlName="lecture">
        </div>

        <div *ngIf="editForm.get('lecture')?.touched">
            <div *ngIf="editForm.get('lecture')?.errors?.['required']" style="color: red;">Lecture is required</div>
        </div>

        <div>
            <label for="description">Description:</label>
            <input id="description" formControlName="description">
        </div>

        <div *ngIf="editForm.get('description')?.touched">
            <div *ngIf="editForm.get('description')?.errors?.['required']" style="color: red;">Description is required</div>
            <div *ngIf="editForm.get('description')?.errors?.['minlength']" style="color: red;">Description must be at least 10 characters long</div>
        </div>

        <div>
            <label for="price">Price:</label>
            <input type="number" id="price" formControlName="price">
        </div>

        <div *ngIf="editForm.get('price')?.touched">
            <div *ngIf="editForm.get('price')?.errors?.['required']" style="color: red;">Price is required</div>
            <div *ngIf="editForm.get('price')?.errors?.['min']" style="color: red;">Price must be at positive number</div>
        </div>

        <div>
            <label for="image">Image URL:</label>
            <input type="url" id="image" formControlName="image">
        </div>

        <div *ngIf="editForm.get('image')?.touched">
            <div *ngIf="editForm.get('image')?.errors?.['required']" style="color: red;">Image is required</div>
            <div *ngIf="editForm.get('image')?.errors?.['pattern']" style="color: red;">Invalid URL</div>
        </div>

        <div>
            <label for="duration">Duration (h):</label>
            <input type="number" id="duration" formControlName="duration">
        </div>

        <div *ngIf="editForm.get('duration')?.touched">
            <div *ngIf="editForm.get('duration')?.errors?.['required']" style="color: red;">Duration is required</div>
            <div *ngIf="editForm.get('duration')?.errors?.['min']" style="color: red;">Duration must be at positive number</div>
        </div>

        <button type="submit" [class.disabled]="editForm.invalid" [disabled]="editForm.invalid">Edit</button>
    </form>    
</div>