<div class="login-container">
  <h2>Login</h2>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <label for="username">Username:</label>
    <input type="text" id="username" formControlName="username" >

    <div *ngIf="loginForm.get('username')?.touched">
      <div *ngIf="loginForm.get('username')?.errors?.['required']" style="color: red;">Username is required</div>
  </div>

    <label for="password">Password:</label>
    <input type="password" id="password" formControlName="password" >

    <div *ngIf="loginForm.get('password')?.touched">
      <div *ngIf="loginForm.get('password')?.errors?.['required']" style="color: red;">Password is required</div>
  </div>

    <button type="submit" [class.disabled]="loginForm.invalid" [disabled]="loginForm.invalid">Login</button>
  </form>

  <p>Don't have an account? <a routerLink="/register">Register here</a>.</p>
</div>