<div class="login-container">
  <h2>Login</h2>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <label for="email">Email:</label>
    <input type="text" id="email" formControlName="email" >

    <div *ngIf="loginForm.get('email')?.touched">
      <div *ngIf="loginForm.get('email')?.errors?.['required']" style="color: red;">Email is required</div>
      <div *ngIf="loginForm.get('email')?.errors?.['email']" style="color: red;">Invalid email</div>
  </div>

    <label for="password">Password:</label>
    <input type="password" id="password" formControlName="password" >

    <div *ngIf="loginForm.get('password')?.touched">
      <div *ngIf="loginForm.get('password')?.errors?.['required']" style="color: red;">Password is required</div>
  </div>

  <div class="error" *ngIf="errorMessage">
    <p>{{errorMessage}}</p>
  </div>

    <button type="submit" [class.disabled]="loginForm.invalid" [disabled]="loginForm.invalid">Login</button>
  </form>

  <p>Don't have an account? <a routerLink="/register">Register here</a>.</p>
</div>