<div class="wrapper">
        <div class="cards-container">
            <div class="card" *ngFor="let course of courses">
                <img src='{{course.image}}' alt="img">
                <div class="container">
                    <h4><b>{{course.title}}</b></h4>
                    <p>Price: ${{course.price}}</p>
                    <a routerLink='/details/{{course._id}}'>Details</a>
                </div>
            </div>
        </div>
    <div class="pagination">
        <button class="prev-btn">Previous</button>
        <span>1</span>
        <button class="next-btn">Next</button>
    </div>
</div>