<div class="wrapper">
    <div class="cards-container">
        <div class="card">
            <img src="../../../backgroundImage.gif" alt="img">
            <div class="container">
                <h4><b>Title</b></h4>
                <p>Price: $50</p>
                <a routerLink='/details/1'>Details</a>
            </div>
        </div>

        <div class="card">
            <img src="../../../backgroundImage.gif" alt="img">
            <div class="container">
                <h4><b>Title</b></h4>
                <p>Price: $50</p>
                <a routerLink='/details/1'>Details</a>
            </div>
        </div>
        <div class="card">
            <img src="../../../backgroundImage.gif" alt="img">
            <div class="container">
                <h4><b>Title</b></h4>
                <p>Price: $50</p>
                <a routerLink='/details/1'>Details</a>
            </div>
        </div>

        <div class="card">
            <img src="../../../backgroundImage.gif" alt="img">
            <div class="container">
                <h4><b>Title</b></h4>
                <p>Price: $50</p>
                <a routerLink='/details/1'>Details</a>
            </div>
        </div>
        <div class="card">
            <img src="../../../backgroundImage.gif" alt="img">
            <div class="container">
                <h4><b>Title</b></h4>
                <p>Price: $50</p>
                <a routerLink='/details/1'>Details</a>
            </div>
        </div>
    </div>
    <div class="pagination">
        <button class="prev-btn">Previous</button>
        <span>1</span>
        <button class="next-btn">Next</button>
    </div>
</div>