.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fffffff6;
  padding: 2em;
  border-radius: 1em;
}

button {
  background-color: #69609dc5;
  padding: 1em 2em;
  border-radius: 1.5em;
  border: none;
}

button:hover {
  cursor: pointer;
  background-color: #4bc496c5;;
}

.button-container {
  display: flex;
  gap: 1em;
}
