<div class="wrapper">
    <h1>User Profile</h1>
    <div>
        <h2>Personal Information</h2>
        <p>Name: {{userInfo.username}}</p>
        <p>Email: {{userInfo.email}}</p>
    </div>
    <div class="header-wrapper">
        <h2 class="first" [ngClass]="{'active': isClickedFirst}" (click)="onClick($event)">Purchased Courses</h2>
        <h2 class="second" [ngClass]="{'active': isClickedSecond}" (click)="onClick($event)">Created Courses</h2>
    </div>

    <div *ngIf="cardsInfo">
        <div class="cards-container">
            <div *ngFor="let card of cardsInfo" class="card">
                <img src="{{card.image}}" alt="img">
                <div class="container">
                    <h4><b>{{card.title}}</b></h4>
                    <p>Price: ${{card.price}}</p>
                    <a routerLink='/details/{{card._id}}'>Details</a>
                </div>
            </div>
        </div>
    </div>

    <div *ngIf="cardsInfo.length===0 && isClickedSecond">
        <div class="cards-container">
            <h2>You haven't created courses</h2>
        </div>
    </div>

    <div *ngIf="cardsInfo.length===0 && isClickedFirst">
        <div class="cards-container">
            <h2>You haven't purchased courses</h2>
        </div>
    </div>
</div>