<div class="wrapper">
    <h1>User Profile</h1>
    <div>
        <h2>Personal Information</h2>
        <p>Name: Ivan</p>
        <p>Email: ivan@abv.bg</p>
    </div>
    <div class="header-wrapper">
        <h2 class="first" [ngClass]="{'active': isClickedFirst}" (click)="onClick($event)">Purchased Courses</h2>
        <h2 class="second" [ngClass]="{'active': isClickedSecond}" (click)="onClick($event)">Created Courses</h2>
    </div>

    <div class="cards-container">
        <div class="card">
            <img src="../../../backgroundImage.gif" alt="img">
            <div class="container">
                <h4><b>Title</b></h4>
                <p>Price: $50</p>
                <a routerLink='/details/1'>Details</a>
            </div>
        </div>

        <div class="card">
            <img src="../../../backgroundImage.gif" alt="img">
            <div class="container">
                <h4><b>Title</b></h4>
                <p>Price: $50</p>
                <a routerLink='/details/1'>Details</a>
            </div>
        </div>
    </div>
</div>