<div *ngIf="!course">
    <img src="https://lh6.googleusercontent.com/Bu-pRqU_tWZV7O3rJ5nV1P6NjqFnnAs8kVLC5VGz_Kf7ws0nDUXoGTc7pP87tyUCfu8VyXi0YviIm7CxAISDr2lJSwWwXQxxz98qxVfMcKTJfLPqbcfhn-QEeOowjrlwX1LYDFJN" alt="">
</div>

<div class="card" *ngIf="course">
    <img src={{course.image}} alt="img">
    <div class="container">
        <h4><b>{{course.title}}</b></h4>
        <p>Lecture: {{course.lecture}}</p>
        <p>{{course.description}}</p>
        <p>Duration: {{course.duration}}h</p>
        <p>Price: ${{course.price}}</p>
    </div>
    <div class="button-container">
        <a routerLink='/buy'>Buy</a>
        <a routerLink='/edit/{{course._id}}'>Edit</a>
    </div>
</div>