<div *ngIf="!course">
    <img src="https://lh6.googleusercontent.com/Bu-pRqU_tWZV7O3rJ5nV1P6NjqFnnAs8kVLC5VGz_Kf7ws0nDUXoGTc7pP87tyUCfu8VyXi0YviIm7CxAISDr2lJSwWwXQxxz98qxVfMcKTJfLPqbcfhn-QEeOowjrlwX1LYDFJN" alt="">
</div>

<div class="card" *ngIf="course">
    <img src={{course.image}} alt="img">
    <div class="container">
        <h4><b>{{course.title}}</b></h4>
        <p>Lecture: {{course.lecture}}</p>
        <p>{{course.description}}</p>
        <p>Duration: {{course.duration}}h</p>
        <p>Price: ${{course.price}}</p>
    </div>
    <div class="sales-wrapper">
        <p>Course sales: {{salesCount}}</p>
    </div>
    <div class="error" *ngIf="errorMessage">
        <p>{{errorMessage}}</p>
    </div>
    <div class="button-container" *ngIf="!isGuest">
        <a href="javascript:void(0)" (click)="handleBuy()" *ngIf="!isGuest && !isOwner && !hasCurrentUserAlreadyBought" >Buy</a>
        <a routerLink='/edit/{{course._id}}' *ngIf="isOwner" >Edit</a>
        <a href="javascript:void(0)" (click)="handelDelete()" *ngIf="isOwner" >Delete</a>
        <p class="success-bought" *ngIf="hasCurrentUserAlreadyBought">Already successfully bought the current course</p>
    </div>
</div>

<app-confirmation-modal *ngIf="isModalVisible" (confirmed)="handleConfirm($event)"/>