html{
    box-sizing: border-box;
    font-size: 18px;
}

*, ::after, ::before {
    box-sizing: inherit;
}


body
{
    font-family: Arial, sans-serif;   
    margin: 0;
    padding: 0;
    background: linear-gradient(90deg, rgba(28,24,101,1) 0%, rgba(41,110,134,1) 44%, rgba(9,66,78,1) 100%);
}